<%= render '/layouts/navbar' %>

<div class="dashboard_container">
  <% if @workouts.empty? %>
    <div class="no_workouts">Add a workout to get started!</div>
  <% else %>
    <table>
      <tbody>

        <% @workouts.each do |workout| %>
          <tr class="workout_row">
            <td class="delete_button">
                <%= link_to("text", workout, :method => :delete, data: { confirm: "Delete this workout?" }, :class => "delete_sprite")  %>
            </td>
            <td class="start_button"><%= image_tag "blue_chevron.png", :class => "start_image" %></td>
            <td class="workout_name"><%= workout.name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>

  <%= render 'form' %>

  <br>

</div>