<div class="dashboard_background">
  <!-- Cover for overlay, invisible by default -->
  <div class="dash_cover" style="display:none;"></div>

  <%= render '/layouts/navbar' %>

  <div class="dashboard_container">
    <!-- Main table to display workout rows -->
    <%= render '/layouts/dropdown' %>

    <% if current_workout != nil %>
      <center>
          <%= button_to "Record Workout", "javascript:;", :id => current_workout.id, :class => "record_button" %>
      </center>

      <table class="dashboard_table">
        <tbody>
          <tr class="chart_row">
            <td>
              <% if current_workout.goals[0] != nil %>
                <table>
                  <tbody>
                    <% current_workout.goals.each do |goal| %>
                      <tr>
                        <td class="dashboard_goal_statement"> <%= goal.number %> <%= goal.metric %> / <%= goal.time_range %>
                        </td>
                        <td class="dashboard_goal">
                          <div id="<%= get_current_progress(goal) %>" class="dashboard_goal_graph" style="width:500px; height:100px;"></div>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
            <% end %>
            </td>
            <td>
              <div id="dashboard_progress_graph" width=500px height=700px></div>
              <script type="text/javascript" >
                var dashboard_progress_data = <%= history_by_time_period(current_workout,7,:duration,"day") %> ;
                var dashboard_total_data = <%= history_by_time_period_all(7,:duration,"day") %> ;
              </script>
              <br>
              <div id="dashboard_cumulative_graph" width=500px height=700px></div>
              <script type="text/javascript" >
                var dashboard_cumulative_progress_data = <%= cumulative_history_by_time_period(current_workout,7,:duration,"day") %> ;
                var dashboard_cumulative_total_data = <%= cumulative_history_by_time_period_all(7,:duration,"day") %> ;
              </script>
            </td>
          </tr>

          <tr class="link row">
            <td>
              <%= link_to "Goals", '/goals' %>
            </td>
            <td>
              <%= link_to "Progress", '/progress' %>
            </td>
          </tr>
        </tbody>
      </table>

      <!-- Overlay to display workout record entry form -->
      <div class="workout_record" id="<%= current_workout.id %>" style="display:none;">
        <%= render :partial => 'workout_records/form', :locals => { :workout => current_workout } %>
      </div>

      <!-- Overlay to display workout delete confirmation -->
      <div class="delete_confirmation" id="<%= current_workout.id %>" style="display:none;">
        <%= render :partial => 'workouts/delete', :locals => { :workout => current_workout } %>
      </div>
    <% end %>

    <!-- Input field for new activity -->
    <div class="add_input" style="display:none;">
      <%= render :partial => 'workouts/form' %>
    </div>

    <br>
  </div>
</div>