<div class="dashboard_background">

  <%= render '/layouts/navbar' %>

  <div class="dashboard_container">

    <%= render '/layouts/dropdown' %>

    <% if current_workout != nil %>
      <center>
          <%= button_to "Record Workout", "javascript:;", :id => current_workout.id, :class => "record_button" %>

      </center>

      <!-- Overlay to display workout record entry form -->
      <div class="workout_record" id="<%= current_workout.id %>" style="display:none;">
        <%= render :partial => 'workout_records/form', :locals => { :workout => current_workout } %>
      </div>

    <% end %>

    <br>
  </div>
</div>