<!-- This is the page to display a summary of workout progress -->
<div class="progress_background">
  <%= render '/layouts/navbar' %>

  <div class="progress_container">
    <%= render '/layouts/dropdown' %>
    <% if current_workout != nil %>
    <table>
      <thead>
        <tr>
          <th>Workout</th>
          <th colspan="5">Time</th>
          <th colspan="5">Distance</th>
        </tr>
        <tr class="subhead">
          <th></th>
          <th>Today</th>
          <th>This Week</th>
          <th>This Month</th>
          <th>This Year</th>
          <th>Total</th>
          <th>Today</th>
          <th>This Week</th>
          <th>This Month</th>
          <th>This Year</th>
          <th>Total</th>
      </thead>
      <tbody>
        <!-- See WorkoutsHelper for record_totals functionality -->
        <% record_totals.each do |w,a| %>
          <tr>
            <td><%= w.name %></td>
            <% for i in (0..10) %>
            <td><%= a[i] %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
    Displaying 10 day history for this workout:
    <div id="progress_graph" height:700px></div>
      <script type="text/javascript" >
        var progress_data = <%= history_by_time_period(current_workout,10,:duration,"day") %> ;
      </script>
    <% end %>
  </div>
</div>
</div>