<!-- This is the page to display a summary of workout progress -->
<div class="progress_background">
  <%= render '/layouts/navbar' %>

  <div class="progress_container">
    <%= render '/layouts/dropdown' %>

    <% if current_workout != nil %>
      <div class="forms">
        <center>
      <form id="metric_form">
        <%= radio_button_tag("metric", "Time", @metric == "Time") %>Time
        <%= radio_button_tag("metric", "Distance", @metric == "Distance") %>Distance<br>
        <input type="submit" style="display:none;"></input>
      </form>

      <form id="time_range_form">
        <%= select("time", "range", options_for_select(["Past 7 Days", "Past 14 Days", "Past 4 Weeks", "Past 6 Months", "Past 12 Months"], @range)) %>
        <input type="submit" style="display:none;"></input>
      </form>
    </center>
    </div>

      <table>
        <tbody>
          <tr style="width:100%">
            <td>
              <div id="progress_graph" style="width:50%; height:450px;"></div>
            </td>
            <td>
              <div id="progress_cumulative_graph" style="width:50%; height:450px;"></div>
            </td>
          </tr>
        </tbody>
      </table>


      <script type="text/javascript">
        var dashboard_progress_data = <%= history_by_time_period(current_workout, @range.split[1].to_i, @field.downcase.to_sym, @range.split.last.delete('s').downcase) %> ;
        var dashboard_total_data = <%= history_by_time_period_all(@range.split[1].to_i, @field.downcase.to_sym, @range.split.last.delete('s').downcase) %> ;
        var dashboard_cumulative_progress_data = <%= cumulative_history_by_time_period(current_workout, @range.split[1].to_i, @field.downcase.to_sym, @range.split.last.delete('s').downcase) %> ;
        var dashboard_cumulative_total_data = <%= cumulative_history_by_time_period_all(@range.split[1].to_i, @field.downcase.to_sym, @range.split.last.delete('s').downcase) %> ;
        var descending_range = <%= (@range.split[1].to_i - 1).downto(-1).to_json %>;
        var x_text = "<%= @range.split.last.delete('s') + "(s) ago" %>" ;
        var y_text = "<%= @unit %>" ;
        var range_word = "<%= @range.split.last.delete('s').downcase %>" ;
        var range_combo = "<%= @range.split[1] + ' ' + @range.split.last.delete('s') %>" ;
      </script>
    <% end %>
    <div class="progress_summary">
      You have recorded a total of <%= record_totals[current_workout][4].to_i %> minutes and <%= record_totals[current_workout][9].to_i %> miles with this activity. <br>

      Across all activites, you have recorded a total of <%= record_overall_total[4].to_i %> minutes and <%= record_overall_total[9].to_i %> miles.
  </div>
  </div>
</div>