<!-- This is the page to display a user's goals, sorted by workout -->
<div class="goals_background">
  <div class="goal_cover" style="display:none;"></div>
  <%= render '/layouts/navbar' %>
  <div class='goals_container'>
    <%= render '/layouts/dropdown' %>
    <center>
      <%= button_to "Set New Goal", "javascript:;", :id => current_workout.id, :class => "goal_button" %>
    </center>
    <% if current_workout.goals[0] != nil %>
      <table>
        <tbody>
          <% current_workout.goals.each do |goal| %>
            <tr>
              <td class="goal_delete_button">
                <%=
                image_tag("delete_button_gray.png",
                  :onmouseover => "this.src='assets/delete_button_red.png'",
                  :onmouseout => "this.src='assets/delete_button_gray.png'",
                  :class => "delete_image",
                  :id => current_user.current_workout_id
                )
                %>
              </td>
              <td class="goal_statement"> I will do this exercise for <%= goal.number %> <%= goal.metric %> every <%= goal.time_range %>.
              </td>
              <td class="progress_bar">
                <div id="graph" style="width:50%; height:100px;"></div>
                <!-- How do you pass in a Ruby on Rails variable into this Javascript? -->
                <script>
                $(function () {
                    $('#graph').highcharts({
                      chart: {
                          type: 'bar',
                          backgroundColor: {
                          linearGradient: [0, 0, 500, 500],
                          stops: [
                            [0, 'rgba(250, 250, 250, .50)'],
                            [1, 'rgba(250, 250, 250, .50)']
                          ]
                        }
                      },
                      title: {
                          text: null
                      },
                      xAxis: {
                        categories: ['Percent']
                      },
                      yAxis: {
                          min: 0,
                          title: {
                              text: null
                          }
                      },
                      plotOptions: {
                          bar: {
                              stacking: 'percent'
                          }
                      },
                      legend: {
                        enabled: false
                      },
                      colors: [
                        '#909090',
                        '#006600'
                      ],
                      series: [{
                          name: 'Incomplete',
                          data: [70]
                      },
                       {
                          name: 'Complete',
                          data:[30]
                       }]
                  });
                });
              </script>
              </td>
              <td class="progress">
                <% current_progress = get_current_progress(goal) %>
                <%= current_progress.to_s + '% complete' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>

    <div class="workout_goals" id="<%= current_workout.id %>" style="display:none;">
        <%= render :partial => 'goals/form', :locals => { :workout => current_workout } %>
    </div>
    <br>
  </div>
</div>