<!-- This is the page to display a user's goals, sorted by workout -->
<div class="goals_background">
  <div class="goal_cover" style="display:none;"></div>
  <%= render '/layouts/navbar' %>
  <div class='goals_container'>
    <%= render '/layouts/dropdown' %>
    <center>
      <%= button_to "Set New Goal", "javascript:;", :id => current_workout.id, :class => "goal_button" %>
    </center>
    <% if current_workout.goals[0] != nil %>
      <table>
        <tbody>
          <% current_workout.goals.each do |goal| %>
            <tr>
              <td class="goal_delete_button">
              </td>
              <td class="goal_statement"> I will do this exercise for <%= goal.number %> <%= goal.metric %> every <%= goal.time_range %>.
              </td>
              <td class="progress_bar">
                <div id="graph" style="width:50%; height:200px;"></div>
              </td>
              <td class="progress">
                <% current_progress = get_current_progress(goal) %>
                <%= current_progress.to_s + '% complete' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>

    <div class="workout_goals" id="<%= current_workout.id %>" style="display:none;">
        <%= render :partial => 'goals/form', :locals => { :workout => current_workout } %>
    </div>
    <br>
  </div>
</div>