<!-- This is the page to display a user's goals, sorted by workout -->
<div class="goals_background">
  <div class="goal_cover" style="display:none;"></div>
  <%= render '/layouts/navbar' %>
  <div class='goals_container'>
  <table>
      <tbody>
        <% current_user.workouts.each do |workout| %>
          <tr>
            <td class="goals_workout_name"><%= workout.name %></td>
            <% if workout.goals[-1] != nil %>
              <td class="goal_statement"> I will do this exercise for <%= workout.goals[-1].number %> <%= workout.goals[-1].metric %> every <%= workout.goals[-1].time_range %>.
              </td>
              <td class="progress">
                <% current_progress = get_current_progress(workout,workout.goals[-1]) %>
                <%= current_progress.to_s + '% complete' %>
              </td>
            <% end %>
            <td class="goal_button">
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <% current_user.workouts.each do |workout| %>
      <div class="workout_goals" id="<%= workout.id %>" style="display:none;">
        <%= render :partial => 'goals/form', :locals => { :workout => workout } %>
      </div>
    <% end %>
    <br>
  </div>
</div>