<div class="dropdown_container">
<% if current_workout != nil %>
  <table class="dropdown_table">
    <tbody>
        <tr class="top_row">
          <td class="delete_button">
            <%=
              image_tag("delete_button_gray.png",
                :onmouseover => "this.src=" + asset_path('delete_button_red.png'),
                :onmouseout => "this.src=" + asset_path('delete_button_gray.png'),
                :class => "delete_image",
                :id => current_user.current_workout_id
              )
            %>
          </td>
          <td class="dropdown">
            <% options = []
            current_user.workouts.each do |w|
            options << [w.name, w.id]
            end %>

            <center>
              <% if current_workout != nil %>
                <%= form_for(current_user, :html => {:id => 'dropdown_form'}) do |f| %>
                  <%= f.select :current_workout_id, options_for_select(options, current_workout.id)
                  %>
                <% end %>
              <% else %>
              <% end %>
            <center>
          </td>
          <td class="add_button">
            <%=
              image_tag("add_button_gray.png",
                :onmouseover => "this.src=" + asset_path('add_button_green.png'),
                :onmouseout => "this.src=" + asset_path('add_button_gray.png'),
                :class => "add_image"
              )
            %>
          </td>
        </tr>
    </tbody>
  </table>
<% else %>
<center>
  No workouts available. Add a workout to get started!
  <br>
  <td class="add_button">
    <%=
      image_tag("add_button_gray.png",
        :onmouseover => "this.src=" + asset_path('add_button_green.png'),
        :onmouseout => "this.src=" + asset_path('add_button_gray.png'),
        :class => "add_image"
      )
    %>
  </td>
</center>
<% end %>

<!-- Input field for new activity -->
<div class="add_input" style="display:none;">
  <%= render :partial => 'workouts/form' %>
</div>

<!-- Overlay to display workout delete confirmation -->
<div class="delete_confirmation" id="<%= current_workout.id %>" style="display:none;">
  <%= render :partial => 'workouts/delete', :locals => { :workout => current_workout } %>
</div>

</div>