<table class="namebar">
  <td id="username"><%= current_user.name %></td>
  <td id="options"><%= link_to "Settings", current_user %> | <%= link_to "Log Out", signout_path %></td>
</table>

<div class="navbar">
  <span class="nav_element d"><%= link_to "Dashboard", '/dashboard' %></span>
  <span class="nav_element g"><%= link_to "Goals", '/goals' %></span>
  <span class="nav_element p"><%= link_to "Progress", '/progress' %></span>
  <span class="nav_element a"><%= link_to "Achievements", '/achievements' %></span>
</div>
